@charset "utf-8";

@media (max-width:599px) {

/*health & nutrition*/
    #title_box {width:95%; height:400px; margin:0 auto; }
    #title_box > h1 {font-size:50px; color:red; line-height:500px; font-weight:bold; font-family: 'Cabin', sans-serif;}
    
/*서브*/
    #sub {width:100%;  height:auto; display:flex; flex-direction:column; margin:0 auto;}



    #sub_main_box {width:95%; height:auto; margin:0 auto; }
    
    /*박스1 비타민과 미네랄*/
    #box1 {width:100%; height:auto; }

    .text_box_up {width:100%; height:auto;  }
    .text_box_up > h2 {width:100%; font-size:23px; font-family: 'Cabin', sans-serif; font-weight:bold; line-height:50px;}
    .text_box_up > p {width:100%; font-size:15px; line-height:20px; font-family: 'Cabin', sans-serif;}
    
    .img_box {width:100%; height:400px; margin-top:10px;}
    .img_box > img {width:100%; height:100%;}
    
    .text_box_down {width:100%; height:auto; margin-top:20px; }
    .text_box_down > h3 {width:100%; font-size:16px; color:#2b292d; line-height:50px; font-weight:bold; font-family: 'Cabin', sans-serif;}
    .text_box_down > h3 > span {color:#d20b2f; font-family: 'Cabin', sans-serif;}
    .text_box_down > p {font-size:12px; font-family: 'Cabin', sans-serif; line-height:25px; margin-bottom:30px;}
    
    
    /*박스2 시리얼의 몰랐던 진실*/
    #box2 {width:100%; height:auto;  margin-top:100px;}
    
    
    /*박스3 시리얼의 모든 것*/
    #box3 {width:100%; height:auto; padding:30px 0;}
    .Read_More {width:87px; height:20px; border:none; background-color:#efefef;  }
    .Read_More > a {text-decoration:none; color:#FBC31B; font-weight:bold; font-family: 'Cabin', sans-serif;}
    
    /*박스4 씨앗에서 식탁까지*/
    #box4 {width:100%; height:auto; padding:30px 0; }
    #box4 > video {width:100%;}
    
    /*박스5 시리얼의 혁신*/
    #box5 {width:100%; height:auto; display:flex; flex-wrap:wrap; justify-content:center;}
    .innovation_img_box {width:95%; height:auto;  display:flex; flex-direction:column; align-items:center;}
    .innovation_img_box > .ibox {border-radius:10px; width:100%; height:300px; margin:1%; overflow:hidden; }
    .ibox > img {width:100%; height:100%;  transition:0.5s; cursor:pointer;}
    .ibox > img:hover {transform:scale(1.3); } 
    
    .Share_box {width:100%; height:30px; display:flex; justify-content:flex-end; align-items:center;}
    .Share_box > h4 {font-size:16px; font-family: 'Cabin', sans-serif; font-weight:bold;  }
    .icon {width:24px; height:30px;  margin-left:10px; display:flex; align-items:center;}
    
    
    /*박스6 켈로그 문의사항*/
    #box6 {width:100%; height:auto; padding:10px; margin-top:40px; margin-bottom:30px; background-color: #ba0c2f;}
    .form_title {width:100%; height:80px; }
    .form_title > h1 { font-size:25px; color:#fff; font-weight:bold; font-family: 'Cabin', sans-serif; padding:10px;}
    .form_title > p {font-size:15px; color:#fff; font-family: 'Cabin', sans-serif; padding:10px;}
    
    .info_input_box {width:100%; height:200px; padding-top:15px;}
    .info_input_box > textarea {display:block; margin-left:10px; margin-bottom:10px; width:80%; height:100px; }
    .info_input_box > input {width:39%; margin-left:10px; height:40px; float:left; }
    
    .check {width:840px; height:50px; color:#fff; display:flex; align-items:center; padding:10px;}
    .check > input {margin-right:10px; }
    input[name="submit"] {width:150px; height:40px; border:none; cursor:pointer; color:#fff; font-weight:bold; font-family: 'Cabin', sans-serif; background-color:tomato; margin:10px 0 0 10px;}
    
    
/*------------------------------------------------------*/
/*사이드*/
    
    
    #side_box {width:100%; height:auto;}

    /*각 박스의 제목*/
    .title {font-size:24px; height:50px; font-family: 'Cabin', sans-serif; font-weight: bold;}

    /*검색*/
    #search {width:100%s; height:75px; margin-top:75px; display:flex; padding:15px;} 
    #search > input {width:70%; height:100%; padding:0 20px;}
    #search > i {width:30%; height:100%; color:#fff; background-color: #ba0c2f; font-size:18px; text-align:center; line-height:45px; cursor:pointer;}
    
    
    /*켈로그의 가치*/
    #Kelloggs_Value {width:100%; height:auto; padding:15px; margin:40px 0 60px; }
    #Kelloggs_Value > p { line-height:20px; font-size:15px; font-family: 'Cabin', sans-serif;}
    
    /*태그*/
    #tags {width:100%; height:auto; padding:15px;}
    #tags > ul {display:flex; flex-wrap:wrap;}
    #tags > ul > li {font-family: 'Cabin', sans-serif; margin:0 5px 5px 0; border:1px solid #E04E3B; padding:10px 15px; font-size:13px; }
    #tags > ul > li:hover {background-color:#E04E3B; color:#fff; cursor:pointer;}
    
    /*최근게시물*/
    #recent_Posts {width:100%; height:auto; padding:15px; margin-top:40px;}
    .box {width:100%; height:100px; display:flex; margin-top:10px;}
    .photo_box {width:30%; height:100%; }
    .photo_box > img {width:100%; height:100%;}
    .text_box {width:70%; height:100%; background-color: #fff;}
    .text_box > p {  font-size:14px; padding:5px; line-height:15px; font-family: 'Cabin', sans-serif;}
    
    
    /*카테고리*/
    #category {width:300px; height:auto; margin-top:80px; padding:15px;}
    #category > ul {width:100%; height:auto; margin-left:10px;}
    #category > ul > li {line-height:40px;}
    #category > ul > li > a {text-decoration:none; color:#000; font-family: 'Cabin', sans-serif; }
    #category > ul > li > a:hover {color:tomato;}
    
    
    

/*인스타그램*/
#instagram {width:100%; height:auto; padding:15px; margin-top:60px; display:flex; flex-wrap:wrap;}
.mini_ibox {width:100%; height:500px; display: flex; flex-wrap:wrap; justify-content:center; align-content:flex-start;}

.mini_ibox > img {width:45%; height:150px; margin:1%;}
.mini_ibox > img:hover {opacity:0.5;} 

}